UI vesamenu.c32
PROMPT 0
NOESCAPE 1
ALLOWOPTIONS 0

MENU RESOLUTION 1024 768
MENU BACKGROUND biosbackgroundfinal2-1024x768.png
MENU WIDTH 64
MENU MARGIN 10
MENU ROWS 12
MENU HELPMSGROW 21
MENU HELPMSGENDROW 24
MENU TABMSGROW 25
MENU CMDLINEROW 25
MENU HSHIFT 32
MENU COLOR BORDER 30;44 #00000000 #00000000 none
MENU COLOR TITLE 37;40 #00000000 #00000000 none
MENU COLOR TABMSG 37;40 #00000000 #00000000 none
MENU COLOR CMDMARK 37;40 #00000000 #00000000 none
MENU COLOR CMDLINE 37;40 #00000000 #00000000 none
MENU COLOR SEL 37;40 #ffffffff #cc8a4a00 none
MENU COLOR UNSEL 37;40 #ffffffff #00000000 none
MENU COLOR DISABLED 37;40 #00000000 #00000000 none
MENU COLOR HELP 37;40 #ffffffff #00000000 none

LABEL pad1
  MENU LABEL
  MENU DISABLE
LABEL pad2
  MENU LABEL
  MENU DISABLE
LABEL pad3
  MENU LABEL
  MENU DISABLE
LABEL pad4
  MENU LABEL
  MENU DISABLE
LABEL pad5
  MENU LABEL
  MENU DISABLE
LABEL pad6
  MENU LABEL
  MENU DISABLE
LABEL pad7
  MENU LABEL
  MENU DISABLE
LABEL pad8
  MENU LABEL
  MENU DISABLE

DEFAULT firmware

LABEL firmware
  MENU LABEL Press <Enter> key to reboot this machine
  MENU DEFAULT
  TEXT HELP
                                   Legacy BIOS or UEFI in Compatibility Support Mode detected
                                      Please switch to pure UEFI firmware to boot AerynOS.
                                             For more information scan the QR code.
  ENDTEXT
  COM32 reboot.c32

LABEL help-anchor
  MENU LABEL hidden
  MENU HIDE
  TEXT HELP
  hidden
  ENDTEXT
  LOCALBOOT 0
